# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_PAD

config BOARD
    default "pad"

config ZMK_KEYBOARD_NAME
    default "Merzigo Pad"
     
if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT
    
endif # BOARD_PAD
