/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp SPACE         // play (encoder press)
                
                &kp LC(Z)         // Undo
                &kp I             // Mark in
                &kp O             // Mark out
                &kp X             // Mark clip
                &kp LC(LS(LA(G))) // Close gap (custom bind)
                &kp LS(DEL)       // Ripple delete (custom bind)

                &kp LC(LS(Z))    // redo
                &kp G            // audio gain
                &kp LC(N)        // new sequence
                &kp LC(R)        // speed duration
                &kp M            // marker
                &kp RET          // render (custom bind)

                &kp DOWN         // next edit point
                &kp EQUAL        // zoom in
                &kp MINUS        // zoom out
                &kp LS(5)        // effect control
                &kp LC(S)        // save
                &kp LC(M)        // media

                &kp UP            // go to previous
                &kp LC(LS(LA(S))) // scale to frame (custom bind)
                &kp LC(X)         // cut
                &kp LC(C)         // copy
                &kp LC(V)         // paste
                &kp LEFT          // step back

                &kp LCTRL        // ctrl
                &kp LBKT         // decrease volume clip
                &kp RBKT         // increase volume clip
                &kp L            // shuffle right
                &kp LS(L)        // shuffle slow right
                &kp RIGHT        // step forward

                &kp LC(M)        // export
                &lt 1 SPACE        // play/pause
                &kp LS(D)        // audio fade (custom bind)
                &kp LC(I)        // import
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>; // frame scrub
        };
        layer_1 {
            bindings = <
                                                    &trans 
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &bt BT_CLR        &trans        &trans &bt BT_CLR_ALL
            >;
        };

        layer_2 {
            bindings = <
                                                    &trans 
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans        &trans        &trans &trans
            >;
        };

        layer_3 {
            bindings = <
                                                    &trans 
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans
                &trans        &trans        &trans &trans
            >;
        };
    };
};
