# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_LL66

config BOARD
    default "ll66"

config ZMK_KEYBOARD_NAME
    default "LL66"
     
if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
    default BT
    
endif # BOARD_LL66