#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

&sk {
    lazy;
};

/ {
      behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHIFT>, <&caps_word>;
        };
        td1: tap_dance_1z {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk RSHIFT>, <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &kp ESC             &kp HOME    &kp N1     &kp N2     &kp N3     &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS  &kp EQUAL   &kp DEL
                &kp PG_UP           &kp TAB     &kp Q      &kp W      &kp E      &kp R     &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSLH   &kp BSPC
                &kp PG_DN           &sl 1       &kp A      &kp S      &kp D      &kp F     &kp G        &kp H      &kp J      &kp K      &kp L      &kp SQT    &kp RET
                          &kp UP    &td0        &kp Z      &kp X      &kp C      &kp V     &kp B        &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  &td1
                &kp LEFT  &kp DOWN  &kp RIGHT   &sk LCTRL  &sk LALT   &kp SPACE  &kp C_PP  &lt 1 SPACE  &sk RALT   &sk RGUI   &sk RCTRL

            >;
        };

        fn_layer {
            bindings = <
                &trans              &kp END     &kp F1       &kp F2       &kp F3        &kp F4     &kp F5     &kp F6        &kp F7        &kp F8  &kp F9      &kp F10    &kp F11  &kp F12  &trans
                &trans              &kp CAPS    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &trans     &trans     &out OUT_BLE  &out OUT_USB  &trans  &trans      &kp PSCRN  &studio_unlock    &trans
                &trans              &trans      &trans       &trans       &trans        &trans     &trans     &trans        &trans        &trans  &kp KP_NUM  &kp TILDE  &mo 2
                        &kp C_VOL_UP  &kp LSHIFT     &trans       &trans        &kp LBRC       &kp LBKT         &kp RBKT     &kp RBRC     &trans     &kp SEMI     &kp COLON     &trans     &kp RSHIFT
                &kp C_PREV  &kp C_VOL_DN   &kp C_NEXT   &kp LCTRL   &kp LALT    &trans      &kp C_MUTE  &trans  &kp RALT   &kp LGUI   &kp RCTRL

            >;
        };

         fn2_layer {
            bindings = <
                &sys_reset         &trans     &trans       &trans       &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans   &kp C_PWR
                &trans             &trans     &trans       &trans       &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp C_SLEEP
                &trans             &trans     &trans       &trans       &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans     &trans
                        &trans    &trans     &bt BT_CLR   &bt BT_CLR_ALL       &trans         &trans     &bootloader     &trans     &trans     &trans     &trans     &trans   &trans
                &trans  &trans  &trans  &trans    &trans     &trans      &trans  &trans  &trans   &trans   &trans

            >;
        };

                extra1 {
                    status = "reserved";
                };

                extra2 {
                    status = "reserved";
                };

                extra3 {
                    status = "reserved";
                };
        
    };
};
