
if BOARD_LILY58_LEFT

config ZMK_KEYBOARD_NAME
	default "Lily58 R2G W"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_LILY58_LEFT


if BOARD_LILY58_LEFT || BOARD_LILY58_RIGHT

config BOARD
	default "lily58"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

if USB_DEVICE_STACK

config USB_NRFX
	default y

endif # USB_DEVICE_STACK

endif # BOARD_LILY58_LEFT || BOARD_LILY58_RIGHT